@use '../abstract/variables';
@use '../abstract/mixins';

header{
    $height_header:1.8rem;
    display: grid;
    grid-template-columns: auto repeat(3,35px);
    height: $height_header;

    a{
        align-self: center;
        justify-self: center;
        @include mixins.default_link();
        img{
            height: calc($height_header);
        }
        &:nth-child(1){
            display: flex;
            justify-self: start;
            align-items: center;
            gap: 2px;
            font-weight: 600;
            font-size: 1.3rem;
        }
        &:nth-child(2){
            img{
                height: calc($height_header*0.70);
            }
        }
        &:nth-child(4){
            img{
                height: calc($height_header*0.90);
            }
        }
    }
}